@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@layer base {
  * {
    box-sizing: border-box;
    margin: 0;
    transition: all 0.5s ease;
  }
  
  html {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
  }

  #menutext {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: black;
  }

  #metertext {
    text-shadow: 2px 2px 5px blue;
  }



}  

.clueVisible {
    opacity: 1;
}